* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    float: right;
}

.blocks {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.left-element,
.right-element {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    float: left;
}

.container-center {
    margin: 0 auto;
    width: 400px;
}

.container-right {
    margin-left: auto;
    width: 400px;
}

.group-left {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    float: left;
}

.group-right {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 90px;
    width: 150px;
    float: left;
}